.leaderboard {
    /* Styles for the overall leaderboard container (optional) */
}

.leaderboard table {
    width: 100%;
    /* Adjust width as needed */
    border-collapse: collapse;
}

.leaderboard thead tr {
    background-color: #eee;
    /* Header background color */
}

.leaderboard th,
.leaderboard td {
    padding: 10px;
    /* border: 1px solid #ddd; */
    text-align: left;
}

.user-row td:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-row {
    transition: transform 0.3s ease-in-out; /* Define transition properties */
}

.user-row {
    animation: none;
    /* Initial state */
}

.user-row.up {
    animation: swap-up 0.5s ease-in-out;
}

.user-row.down {
    animation: swap-down 0.5s ease-in-out;
}

@keyframes swap-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes swap-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

.winner-0 {
    width: 25px;
    height: 25px;
    background-color: rgb(255, 185, 0);
    margin-left: 5px;
}

.winner-1 {
    width: 25px;
    height: 25px;
    background-color: rgb(105, 121, 126);
    margin-left: 5px;
}

.winner-2 {
    width: 25px;
    height: 25px;
    background-color: rgb(132, 117, 69);
    margin-left: 5px;
}